@import "./media/monitor.css";
@font-face{font-family:hdes;src:url('https://helpdeskeddy.ru/fonts/hdes.eot?xufyp1');src:url('https://helpdeskeddy.ru/fonts/hdes.eot?xufyp1#iefix') format('embedded-opentype'),url('https://helpdeskeddy.ru/fonts/hdes.ttf?xufyp1') format('truetype'),url('https://helpdeskeddy.ru/fonts/hdes.woff?xufyp1') format('woff'),url('https://helpdeskeddy.ru/fonts/hdes.svg?xufyp1#hdes') format('svg');font-weight:400;font-style:normal;font-display:block}
*{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a{
    color: #000;
}

#app,html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.main_container{
    width: 80%;
    margin: 0 auto;
}

:root{
    --main-bg-elements-color:#1A3438;
}

h2{
    font-size: 100px;
}

h3{
    font-size: 80px;
}

h4{
    font-size: 60px;
}

h5{
    font-size: 40px;
}

h6{
    font-size: 20px;
}





