@import "./media/monitor.css";

*{
    list-style: none;
    padding: 0;
    margin: 0;
}

#app,html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.main_container{
    width: 80%;
    margin: 0 auto;
}

:root{
    --main-bg-elements-color:#1A3438;
}

h2{
    font-size: 100px;
}

h3{
    font-size: 80px;
}

h4{
    font-size: 60px;
}

h5{
    font-size: 40px;
}

h6{
    font-size: 20px;
}





